body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.navbar{
    height: 4.5rem;
    background-color: white;
}
.fa-compass{
   color:#fe424d ; 
   font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links{
    width: 100%;
    

}
.f-info-socials{
   width: 100%; 
   font-size: 1.2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   
 
}
.f-info-socials i{
    margin-right: 1rem;

}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

    
}
 
.listnig-card{
    border: none !important;
    margin-bottom: 2rem;
    
}
.card-img-top{
    border-radius:1rem;
    width: 100%;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;

}
.card-text{
font-weight: 400;
}

.listing-click{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn{
   background-color: #fe424d; 
   border: none;
   color: white;
}
.show-btn{
    display: flex;
}
.show-img{
    height: 40vh;
}
.btns{
    display: flex;
    
}
.delete{
    margin-left: 2rem;
}